asgiref==3.8.1
certifi==2026.2.25
Django==5.2.1
dotenv==0.9.9
greenlet==3.4.0
gunicorn==23.0.0
influxdb-client==1.50.0
lxml==6.1.1
numpy==2.4.4
packaging==25.0
pandas==3.0.2
psycopg==3.2.9
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
reactivex==4.1.0
six==1.17.0
SQLAlchemy==2.0.36
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.6.3
xlsxwriter==3.2.9
